*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgba(0, 0, 0, 1);
    color:white;
}

#topmostsection ul{
    background-color:white;
    list-style-type:none;
    text-align: center;
}

#topmostsection li{
    color:black;
    display:inline;
    margin-inline:10px;
}

.flex-header{
    margin:6px;
    background-color:black;
    display:flex;
    flex-wrap: nowrap;
}

.flex-header > #imamge,#link-1,#link-2,#contact{
    background-color:black;
    width:190px;
    margin:20px;
    height:133px;
    text-align:center;
    line-height:75px;
    font-size:20px;
}

#link-1 a{
    text-decoration: none;
    color:white;
}

#link-2 a{
    text-decoration: none;
    color:white;
}

#contact a{
    text-decoration: none;
    color:white;
}

.listing-flex{
    display:flex;
    background-color:black;
}

.listing-flex > #product-image,#listing-title{
    margin:8px;
    padding:20px;
    line-height:30px;
    font-size:30px;
}

#product-image img{
    border-radius: 20%;
}

button{
    height:50;
    width:80;
    background-color: blue;
    color:white;
    padding:10px;
    border-radius:25px;
    font-size:20px;
    cursor: pointer;
}

button:hover{
    background-color: black;
}

footer{
    background-color: white;
    padding:6px;
}

.content-materialflex{
    display:flex;
    flex-wrap:nowrap;
    background-color: black;
}

.content-materialflex > #Specifications, #Description {
    margin: 10px;
    font-size:20px;
}
  